<template name="policiesManagementComponent">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>契約管理画面</h4>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>証券番号</th>
          <th>商品コード</th>
          <th>契約者名</th>
          <th>被保険者名</th>
          <th>生年月日</th>
          <th>性別</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each policies}}
          {{> policiesItem}}
        {{/each}}
      </tbody>
    </table>
  </div>
</template>

<template name="policiesItem">
  <tr>
    <td>{{policy_number}}</td>
    <td>{{product_code}}</td>
    <td>{{owner_name}}</td>
    <td>{{LA_name}}</td>
    <td>{{birth}}</td>
    <td>{{sex}}</td>
    <td>
      <form onSubmit>
        <button type="button" id={{address}} class="btn btn-success"> 死亡確認 </button>
      </form>
    </td>
  </tr>
</template>
