<template name="policiesManagementComponent">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Policies Management</h4>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Policy Holder</th>
          <th>Policy Type</th>
          <th>Smart Contract Address</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each policies}}
          {{> policiesItem}}
        {{/each}}
      </tbody>
    </table>
  </div>
</template>

<template name="policiesItem">
  <tr>
    <td>{{name}}</td>
    <td>{{policy_holder}}</td>
    <td>{{hospital}}</td>
    <td>{{address}}</td>
    <td>
      <form onSubmit>
        <button type="button" id={{address}} class="btn btn-success"> Check Status </button>
      </form>
    </td>
  </tr>
</template>
