<template name="systemLayout">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <img border="2" height="50" hspace="2" src="/images/office.png" width="50" />
      </div>
      <ul class="nav navbar-nav">
        <li class="{{activeIfCurrent 'dashboard'}}"><a href="{{pathFor 'dashboard'}}">Blockchain Information</a></li>
        <li class="{{activeIfCurrent 'hospitals'}}"><a href="{{pathFor 'hospitals'}}">死亡登録</a></li>
      </ul>
    </div>
  </nav>
  <main class="container-fluid">
    <div class="container-background">
      {{> yield}}
    </div>
  </main>
</template>
